.header-right-btn li h3 img {
  height: 45px;
  border-radius: 50%;
}

.profile-dropdown {
  width: 220px;
  position: absolute;
  top: 100%;
  right: 35px;
  text-align: left;
  z-index: 99;
  margin-top: 15px;
  background-color: #23293f;
  border: 1px solid #3f455b;
  color: #fff;
  box-shadow: 0 4px 10px 0 rgb(41 128 185 / 7%);
  -webkit-box-shadow: 0 4px 10px 0 rgb(41 128 185 / 7%);
  display: none;
}

.profile-dropdown a {
  color: #cacaca;
  display: block;
  padding: 10px 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-family: Mulish, sans-serif;
  letter-spacing: .8px;
  font-weight: 500;
}
